/*Общии стили*/
.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 0;
}


/*Стилизация блока `header`*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 84px;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
  word-spacing: 0.1px;
  list-style: circle;
  padding-left: 50px;
  padding-bottom: 15px;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  border-bottom: 1px solid;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  border: none;
}

.header__logo {
  width: 136px;
  height: 87px;
  margin-bottom: auto;
}

.header__address {
  justify-self: end;
  margin-right: 88px;
  padding-bottom: 15px;
}

/* Общии стили для блока `address` */

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 137%;
  font-weight: 400;
}

.address-link {
  font-style: normal;
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

/*Стилизация блока `cover`*/

.cover {
  position: relative;
  padding: 156px 0 40px 0;
  background: url(../images/cover.jpg) no-repeat center / cover;
}

.cover__title {
  margin-bottom: 45px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 135%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 0 50px 50px 50px;
  z-index: 2;
}

.aligned-text_center {
  color: #fff;
  margin-left: 331px;
}

.aligned-text_right {
  margin-left: 613px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-inline: 50px;
  z-index: 2;
}

.description__text {
  padding-top: 13px;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  word-spacing: 18px;
  color: #fff;
}

.bet-button {
  margin-bottom: 10px;
  min-width: 256px;
  min-height: 51px;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid rgb(255, 255, 255);
  background-color: inherit;
  color: rgb(255, 255, 255);
}

/*Стилизация блока `lots`*/

.lots {
  margin-top: 180px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  padding-left: 64px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 25px;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 15px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  margin-bottom: 14px;
  margin-left: 24px;
}

.card-link {
  height: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}


.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  padding-inline: 40px;
  margin-top: 47px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  z-index: 2;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  padding-inline: 40px;
  padding-bottom: 49px;
  color: #fff;
  z-index: 2;
}

.lots__look-more-link {
  margin-left: 64px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  border-bottom: 1px solid rgb(0, 0, 0);
}

/*Стилизация блока `about`*/

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin-top: 122px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 0 70px;
  background-color: rgb(0, 0, 0);
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-content {
  margin-top: 100px;
  margin-left: 50px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 34px;
  margin-bottom: 100px;
}

.about__text-content {
  max-width: 688px;
}

.about__text {
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.5px;
  line-height: 126%;
  margin-top: 24px;
}

/* Стилизация блока `footer` */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  margin-top: 180px;
  margin-bottom: 80px;
}

.footer__address {
  margin-right: 27px;
  color: #000;
  font-style: normal;
}


.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 2px;
}

.footer__menu-link_active {
  border: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  column-gap: 48px;
  margin-left: 26px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}